canvas {
	margin-left: 5vh;
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
}

#game-over {
    margin-left: 40vh;
	margin-top: 22vh;
	padding: 20px;
    width: 310px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    text-align: center;
    color: white;
	background-color: black;
    opacity: .8;
}

#message {
	margin-bottom: 20px;
	font-size: 2em;
}

.media-message {
	margin-top: 20vh;
	text-align: center;
	display: none;
}

@media (max-width: 1130px) {
	.hide-game {
		display: none;
	}
	
	.media-message {
		display: block;
	}
}

@media (max-height: 550px) {
	.hide-game {
		display: none;
	}
	
	.media-message {
		display: block;
	}
}